:root {
  /* 섁상 */
  --blue: #444cf7;
  --yellow: #f9fddc;
	--grass: #42BF24;
	--poison: #994DCF;
	--fire: #FF612D;
	--water: #2992FF;
	--insect: #9FA425;
	--normal: #999999;
	--fly: #95C9FF;
	--electric: #FFDB00;

  /* 글꼴 */
	--mikser: "bc-mikser", sans-serif;
	--pre-reg: "Pretendard-Regular", sans-serif;
	--pre-bold: "Pretendard-Bold", sans-serif;
}

@font-face {
	font-family: "Pretendard-Regular";
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Pretendard-Bold";
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
				
body {
	background-color: #f7f3e5;
	opacity: 0.8;
	background-image: radial-gradient(#444cf7 0.5px, #f7f5e5 0.5px);
	background-size: 20px 20px;
	height: 3000px;
}

/* HEADER */

header .container {
	position: fixed;
}

header .search-form {
	border: 2px solid var(--blue);
	padding: 10px;
	border-radius: 30px;
	margin: 30px 30px 10px;
	width: 300px;
	height: 35px;
	align-items: center;
	font-size: 35px;
	background-color: #f9fddc;
	display: flex;	
}
header .search-form input {
	width: 250px;
  height: 25px;
	padding-left: 15px;
	padding-top: 4px;
  border: none;
  outline: none;
  font-size: 25px;
  background-color: transparent;
}
header .search-form #searchBtn {
	width: 60px;
	height: 50px;
	margin-left: -15px;
	padding: 10px;	
	border: none;
	background-color: transparent;
}

header .search-form span {
 	font-size: 2rem;
 	color: var(--blue);
 	cursor: pointer
}


header .show-modal {
	display: flex;
	background-color: var(--blue);
	padding: 10px;
	border-radius: 30px;
	margin: 0px 30px;
	width: 130px;
	height: 35px;	
	cursor: pointer;
	transition: .1s;
}
header .show-modal:active {
	transform: scale(.95)
}


header .show-modal h1 {
	padding-left: 20px;
	padding-top: 2px;
	margin-right: 6px;
	color: var(--yellow);
	font-family: var(--mikser);
	font-size: 1.8rem;
	font-weight: 700;
	font-style: normal;	
}
header .show-modal span {
	font-size: 2.3rem;
	transition: 0.3s;
}
header .show-modal:hover span {
	transform: rotate(90deg);
}

header .pokemon-logo {
	position: fixed;
	right: 30px;
	top: 35px;
	
}
header .pokemon-logo img {
	width: 50px;
	transition: .3s;
}
header .pokemon-logo img:hover {
	transform: scale(1.1);
	cursor: pointer;
}

header p {
	font-size: 140px;
  font-family: var(--mikser);
	color: #FFDE00;
	position: absolute;
	top: 10px;
	left: 10px;
	line-height: 130px;
	z-index: -1;
}

/* MODAL */

.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	opacity: 0;
	background-color: rgba(255, 255, 139, 0.3);
	backdrop-filter: blur(3px); 
	pointer-events: none;
}

.modal-box {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 380px;
	width: 100%;
	height: auto;
	padding: 30px 20px;
	border-radius: 24px;
	background-color: var(--grass);
	align-items: space-around;
	opacity: 0;
	pointer-events: none;
	z-index: 1;
	transition: all .2s ease;
	box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.4);

}
main.active .modal-box {
	opacity: 1;
  pointer-events: auto;
	transform: translate(-50%, -50%) scale(1);
}

.modal-box h2 {
	font-size: 20px;
	color: var(--poison);
	font-family: var(--pre-bold);
	text-align: center;
	margin-top: 10px;
}
.modal-box h3 {
	font-size: 16px;
	color: #333;
	text-align: center;
	margin-top: 20px;
}

.modal-box .buttons {
	margin-top: 20px;
}

.modal-box button {
	font-size: 14px;
	padding: 6px 12px;
	margin: 0 10px;
	color: var(--yellow);
	background-color: var(--blue);
	border: none;
	border-radius: 20px;
}

.modal-box button:hover {
	background-color: #2073b7;
}



/* SECTION */

section.container {
	padding: 130px 100px;
	/* pointer-events: none; */
}
section.container #list {
	display: flex;
  flex-wrap: wrap;
}

section.container li {
	width: 180px;
	height: 250px;
	background: #fff;
	box-shadow: 3px 3px 20px rgba(0,0,0,.3);
	border-radius: 15px;
	margin: 15px;
	text-align: center;	
	cursor: pointer;
	transition: .2s;
}
section.container li:hover {
	transform: scale(1.03);	
}

section.container li .card1-img > img {
	width: 130px;
	margin-top: 20px;	
}
section.container li p {
	font-family: var(--pre-bold);
	font-size: 1rem;
	margin: 15px;
}
section.container li .type-cont {
	display: flex;
	justify-content: center;
	gap: 10px;
}

section.container li .type-cont .type1-grass {
	font-family: var(--pre-bold);
	font-size: .8rem;
	color: #fff;
	background-color: var(--grass);
	width: 30%;
	border-radius: 10px;
	padding: 8px;
}
section.container li .type-cont .type2-poison {
	font-family: var(--pre-bold);
	font-size: .8rem;
	color: #fff;
	background-color: var(--poison);
	width: 30%;
	border-radius: 10px;
	padding: 8px;
}
section.container li .type-cont .type1-fire {
	font-family: var(--pre-bold);
	font-size: .8rem;
	color: #fff;
	background-color: var(--fire);
	width: 30%;
	border-radius: 10px;
	padding: 8px;
}
section.container li .type-cont .type1-water {
	font-family: var(--pre-bold);
	font-size: .8rem;
	color: #fff;
	background-color: var(--water);
	width: 30%;
	border-radius: 10px;
	padding: 8px;
}
section.container li .type-cont .type1-insect {
	font-family: var(--pre-bold);
	font-size: .8rem;
	color: #fff;
	background-color: var(--insect);
	width: 30%;
	border-radius: 10px;
	padding: 8px;
}
section.container li .type-cont .type1-normal {
	font-family: var(--pre-bold);
	font-size: .8rem;
	color: #fff;
	background-color: var(--normal);
	width: 30%;
	border-radius: 10px;
	padding: 8px;
}
section.container li .type-cont .type2-fly {
	font-family: var(--pre-bold);
	font-size: .8rem;
	color: #fff;
	background-color: var(--fly);
	width: 30%;
	border-radius: 10px;
	padding: 8px;
}
section.container li .type-cont .type1-electric {
	font-family: var(--pre-bold);
	font-size: .8rem;
	color: #fff;
	background-color: var(--electric);
	width: 30%;
	border-radius: 10px;
	padding: 8px;
}

